*{

    font-family: 'Lobster', cursive;
}

:root{

    --lightRed: #ee1d12d4;
}


.cover{

height:800px;
width:100%;
background-image:url('/public/storage/image/ristorante.jpg');
background-repeat: no-repeat;
background-size: cover;

}


.formCustom{
    
    min-height: 500px;
    width: 500px;
    margin-left:450px;
    margin-top: 150px;
    margin-bottom: 200px;
    
}

/* .nome{
    height: 500px;
    width: 100%;
} */

/* navbar */

.bg{

    background-color: var(--lightRed);

}

.titleCover{

    margin-top: 300px;
    margin-left: 80px;
    font-size: 100px;
    color: black;
    /* background-color: blue; */

}

@media screen and (max-width:900px) {

    .titleCover{

        font-size: 50px;
        margin-left: 40px;
       
    }

    .subTcover{
        
        margin-left: 40px;
        font-size: 30px;

}}

.subTcover{

    margin-left: 75px;
    font-size: 35px;
    color: black;
    
}

/* @media screen and (max-width: 992px) {
    body {
      background-color: blue;
    }
  } */

